
*,
*:before,
*:after {box-sizing: border-box;}
main {
    max-width: 800px;
    margin:0 auto;
}
.new-note-form {
    margin-bottom: 15px;
}
.new-note-content {
    width:100%;
    display: block;
    font-size: 1.3em;
}

.notes {
    list-style-type: none;
    margin:0;
    padding: 0;
}
.note {
    display: inline-block;
    width: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding:10px;
    list-style-type: none;
    background-color: #cde;
    font-size: 1.3rem;
    position: relative;
}
.note > .close {
    cursor: pointer;
    font-size: 2.5rem;
    position: absolute;
    top: -10px;
    right: 6px;
}
.note-date {
    font-size:0.7em;
    margin-bottom: 10px;
    display: block;
    margin: 4px 0 0 0;
    text-align: right;
}